PORT=3000
HOST=localhost

SSL_KEY_PATH=./cert/localhost-key.pem
SSL_CERT_PATH=./cert/localhost.pem
SSL_PFX_PATH=./cert/localhost.pfx
SSL_PFX_PASSPHRASE=local-dev-pass

VAPID_PUBLIC_KEY=
VAPID_PRIVATE_KEY=
VAPID_SUBJECT=mailto:your-email@example.com